
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>History</h2>

<img src="~/IMages/God Lmao 1.jpg" height="200" width="200" />
<h2>
    What are Hinduism's holy books?

</h2>

<p>
    Hinduism does not have a single holy book, but many ancient texts and scriptures.

    The Vedas - a collection of hymns praising the Vedic gods. Veda means 'knowledge'.
    The Ramayana - long epic poems about Rama and Sita.
    The Mahabharata - which includes the Bhagavad Gita.
    The Puranas - a collection of stories about the different incarnations and the lives of saints.
</p>
<h2>Where Hindus Worship</h2>
<p>
    Hindus worship in a temple called a Mandir. Mandirs vary in size from small village shrines to large buildings, surrounded by walls.

    People can also visit the Mandir at any time to pray and participate in the bhajans (religious songs).

    Hindus also worship at home and often have a special room with a shrine to particular gods.
</p>
<h2>The caste system</h2>
<p>India's caste system is among the world's oldest forms of surviving social stratification</p>
<p>
    Manusmriti, widely regarded to be the most important and authoritative book on Hindu law and dating back to at least 1,000 years before Christ was born, "acknowledges and justifies the caste system as the basis of order and regularity of society".

    The caste system divides Hindus into four main categories - Brahmins, Kshatriyas, Vaishyas and the Shudras. Many believe that the groups originated from Brahma, the Hindu God of creation.
</p>
<p>
    At the top of the hierarchy were the Brahmins who were mainly teachers and intellectuals and are believed to have come from Brahma's head. Then came the Kshatriyas, or the warriors and rulers, supposedly from his arms. The third slot went to the Vaishyas, or the traders, who were created from his thighs. At the bottom of the heap were the Shudras, who came from Brahma's feet and did all the menial jobs.

    The main castes were further divided into about 3,000 castes and 25,000 sub-castes, each based on their specific occupation.

    Outside of this Hindu caste system were the achhoots - the Dalits or the untouchables.

</p>
<img src="~/IMages/Caste system 1.png" width="200" height="200" />
<h2>The Dalits</h2>
<p>
    For centuries, caste has dictated almost every aspect of Hindu religious and social life, with each group occupying a specific place in this complex hierarchy.

    Rural communities have long been arranged on the basis of castes - the upper and lower castes almost always lived in segregated colonies, the water wells were not shared, Brahmins would not accept food or drink from the Shudras, and one could marry only within one's caste.
</p>
<img src="~/IMages/Durga Puja 1.jpg"  width="200" height="200"/>