
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>History</h2>

<img src="~/IMages/God Lmao 1.jpg" height="200" width="200" />
<h2>
    What are Hinduism's holy books?
  
</h2>

<p>
    Hinduism does not have a single holy book, but many ancient texts and scriptures.

    The Vedas - a collection of hymns praising the Vedic gods. Veda means 'knowledge'.
    The Ramayana - long epic poems about Rama and Sita.
    The Mahabharata - which includes the Bhagavad Gita.
    The Puranas - a collection of stories about the different incarnations and the lives of saints.
</p>
<h2>Where Hindus Worship</h2>
<p>
    Hindus worship in a temple called a Mandir. Mandirs vary in size from small village shrines to large buildings, surrounded by walls.

    People can also visit the Mandir at any time to pray and participate in the bhajans (religious songs).

    Hindus also worship at home and often have a special room with a shrine to particular gods.
</p>