
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<img src="~/IMages/God 12.jpg"  height="200" width="200"/>
<h2>What is Hinduism</h2>
<p>Hinduism is the world’s oldest religion, according to many scholars, with roots and customs dating back more than 4,000 years. Today, with about 900 million followers, Hinduism is the third-largest religion behind Christianity and Islam. Roughly 95 percent of the world’s Hindus live in India. Because the religion has no specific founder, it’s difficult to trace its origins and history. Hinduism is unique in that it’s not a single religion but a compilation of many traditions and philosophies.</p>

<img src="~/IMages/Shiva 12.jpg" />
<h2>Hindu Beliefs</h2>
<p>
    Hinduism embraces many religious ideas. For this reason, it’s sometimes referred to as a “way of life” or a “family of religions,” as opposed to a single, organized religion.
    Most forms of Hinduism are henotheistic, which means they worship a single deity, known as “Brahman,” but still recognize other gods and goddesses. Followers believe there are multiple paths to reaching their god.
    Hindus believe in the doctrines of samsara (the continuous cycle of life, death, and reincarnation) and karma (the universal law of cause and effect).
    One of the key thoughts of Hinduism is “atman,” or the belief in soul. This philosophy holds that living creatures have a soul, and they’re all part of the supreme soul. The goal is to achieve “moksha,” or salvation, which ends the cycle of rebirths to become part of the absolute soul.
</p>
<h2>What Hindus do belives </h2>
<p>
    Central to Hinduism is the belief in a supreme God Brahman. Brahman is present everywhere and there is a part of Brahman in everyone.

    Brahman takes many forms. Especially three forms called the Trimurti.

    Brahma is the creator of the world and all creatures. He is usually shown with four heads.

    Vishnu is the preserver of the world. His role is to return to the earth in troubled times and restore the balance of good and evil. He has blue skin and four arms.

    Shiva is the destroyer of the universe. Shiva destroys the universe in order to re-create it. Shiva has blue skin, a third eye and carries a trident.
</p>
